html {
    font-size: 16px;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    background-color: #fff;
    border: 0.1rem solid #aaa;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 0.5rem rgba(0,0,0,0.2);
    cursor: pointer;
}

input[type=checkbox]:focus {
    border-color: #666;
}

input[type=checkbox]:checked:after {
    position: relative;
    bottom: 1.5rem;
    left: -0.5rem;
    color: #009688;
    content: "\2713";
    font-size: 3rem;
}

input:focus {
    outline:0;
}

.okr-objective {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #eee;
    padding: 2rem;
    border-radius: 0.5rem;
}

.okr-objective input[type="text"] {
    width: 100%;
    border: 0px;
    padding: 0 0.5rem;
    background-color: transparent;
    height: 100%;
    display: block;
    font-size: 1rem;
    margin-bottom: 0;
}

input[type="text"].okr-primary-objective  {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.okr-key-result {
    border-bottom: 0.05rem solid #AAA;
    height: 1.5rem;
    padding: 0.5rem;
    margin: 0.25rem;
    position: relative;
}

.okr-key-result input[type="text"] {
    width: 100%;
    border: 0px;
    padding: 0;
    background-color: transparent;
    height: 100%;
    display: block;
    font-size: 1rem;
}

.okr-task-list {
    margin-bottom: 2rem;
}

.okr-list-name {
    border-bottom: 0.05rem solid #AAA;
    height: 1.5rem;
    padding: 0.5rem;
    margin: 0.25rem;
    position: relative;
}

.okr-list-name input[type="text"] {
    width: 100%;
    border: 0px;
    padding: 0;
    background-color: transparent;
    height: 100%;
    display: block;
    font-size: 1rem;
}

.okr-page {
    max-width: 800px;
    margin: auto;
}

.okr-task {
    margin: 0.25rem;
    position: relative;
}

.okr-task.okr-task--add input[type="text"] {
    background-color: transparent;
}

.okr-task.okr-task--add input[type="text"]:focus {
    background-color: #EEE;
}

.okr-task input[type="text"] {
    width: 100%;
    border: 0px;
    background-color: #EEE;
    min-height: 100%;
    display: block;
    font-size: 1rem;
    padding: 0.5rem;
    height: 2.5rem;
    padding-left: 2.5rem;
    box-sizing: border-box;
}

.okr-task input[type="text"]:focus {
    background-color: #DDD;
}

.okr-task input[type="checkbox"] {
    position: absolute;
    right: 0.5rem;
    top: 0.35rem;
}

.okr-task__type {
    position: absolute;
    display: block;
    left: 0.5rem;
    line-height: 2.5rem;
    top: 0;
    height: 100%;
    width: 1rem;
    font-size: 1.5rem;
}
